<h1>New Ticket</h1>
<div>
  <form>
    <div class="form-group">
      <label for="pairname">Pair Names</label>
      {{input class="form-control" value=pairname id="pairname"}}
    </div>
    <div class="form-group">
      <label for="problem">Problem</label>
      {{textarea class="form-control" value=problem id="problem"}}
    </div>
    <div class="form-group">
      <label for="station">Station</label>
      {{input class="form-control" value=station id="station"}}
    </div>
    <button class="btn" {{action 'saveTicket'}}>Save</button>
  </form>
</div>
